@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #252525;
  font-family: 'Montserrat';
  font-size: 14px;
  color: white;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto
}

section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

@media (max-width:575px) {
  h1 {
    font-size: 20px
  }

  h2 {
    font-size: 18px
  }

  h3 {
    font-size: 16px
  }

  h4 {
    font-size: 14px
  }

  h5 {
    font-size: 12px
  }

  h6 {
    font-size: 10px
  }
}

$main_color: #3D35BE;

.go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  font-size: 40px;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  transform: rotate(-90deg);

  i {
    transition: .5s;

    &:hover {
      color: $main_color;
    }
  }
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/loader.gif) center no-repeat white;
  animation-name: animateLoader;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes animateLoader {
  0% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }

  80% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }

  100% {
    height: 0;

  }

}

button:focus {
  outline: none;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0.2rem rgba($color: $main_color, $alpha: .5) !important;
}


//end default css -----------------------------------------------------

.intro-home {
  background-image: url('../img/home-1.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  margin-left: -15px;
  width: 103%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &.intro0 {
    background-image: url('../img/home-1.jpeg');
  }
  &.intro1 {
    background-image: url('../img/home-2.jpeg');
  }
  &.intro2 {
    background-image: url('../img/home-3.jpeg');
  }
  &.intro3 {
    background-image: url('../img/home-4.jpeg');
  }

  &-box {
    position: relative;
    background: rgba(0, 0, 0, .7);
    border-right: 1px solid #707070;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
    height: 100vh;

    &:hover {
      background:  rgba(0, 0, 0, .5);

      .intro-home-box-detail {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img, h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .5s;
    }

    h1 {
      width: 90%;
      text-align: center;
    }

    img {
      padding: 30px;
    }

    &-detail {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, 150%);
      text-align: center;
      width: 80%;
      transition: .5s;
      opacity: 0;

      p {
        border: 2px solid white;
        padding: 10px 10px;
        width: 160px;
        margin: auto;
        margin-top: 30px;
        text-transform: uppercase;
        transition: .5s;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $main-color;
          z-index: -1;
          transition: transform .5s;
          transform-origin: right;
          transform: scaleX(0);
        }

        &:hover::after {
          transition: transform .5s;
          transform-origin: left;
          transform: scale(1);
        }

        &:hover {
          color: white;
          border-color: $main-color;
        }
      }
    }
  }

  &-member {
    position: absolute;
    top: 15px;
    right: 0;

    a {
      padding: 15px 30px;
      background: #707070;
      color: white;
      text-transform: uppercase;
      transition: .5s;

      &:hover {
        background: $main_color;
      }
    }
  }

  &-logo {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}


.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900000;
  display: none;
  cursor: url('../img/cursor.png'), auto;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.menu {
  position: relative;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 60px;

  &.menu-down {
    position: fixed;
    width: 100%;
    right: 15px;
    top: 0;
  }

  &::after {
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
  }

  .main-menu {
    position: relative;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;

      li {
        padding: 13px 15px;
        transition: .5s;
        display: inline-block;

        i {
          color: white;
          padding-left: 5px;
          font-size: 20px;
          transition: .5s;
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          transition: .5s;

          &:hover {
            color: $main_color;

          }
        }

        &:hover {

          i,
          a {
            color: $main_color;
          }

          .menu-bottom {
            opacity: 1;
            visibility: initial;
            transition: .5s;
            color: white;
            transform: translateY(0%) scaleY(1);
            height: auto;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          h4 a,
          li a {
            color: black;
          }
        }

        .menu-bottom {
          position: absolute;
          left: 15px;
          width: 1110px;
          opacity: 0;
          visibility: hidden;
          transition: .5s;
          margin-top: 12px;
          transform: translateY(-50%) scaleY(0);
          transition: .5s;
          padding: 30px;
          background: #111111;
          color: #C9C9C9;

          img {
            margin-top: 20px;
          }

          a {
            transition: .5s;

            &:hover {
              color: $main_color;
            }
          }

          h4 {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #383838;
            transition: .5s;
            text-align: left;

            a {
              color: white;
            }
          }

          ul {
            text-align: left;

            li {
              padding: 0;
              padding-bottom: 15px;
              margin-right: -10px;
              display: inline-block;
              text-align: left;
              width: 50%;

              a {
                font-weight: 500;
                font-size: 14px;
                text-transform: none;
                color: #C9C9C9;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }

              i {
                font-size: 16px;
                color: #383838;
                padding-right: 10px;
              }

              &:hover {
                i {
                  color: $main_color;
                }
              }
            }
          }
        }
      }
    }
  }
}


.bread-crumb {
  padding: 20px 0;
  color: white;
  margin-bottom: 30px;
  background: #383838;

  .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;


    .breadcrumb-item {
      &:first-child::before {
        content: none;
      }

      &:before {
        content: '\f017';
        font-family: fontAwesome;
        padding-left: 10px;
        padding-right: 15px;
      }

      &:hover {
        color: $main_color;
      }
    }

    .breadcrumb-item.active {
      color: $main_color;
    }
  }
}

.pagination {
  margin-top: 30px;

  .page-item .page-link {
    background: none;
    border: 1px solid #383838;
    color: white;
    border-radius: 3px;
    transition: .5s;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;

    &:hover,
    &.active {
      background: $main_color;
      color: black;
      border-color: $main_color;
    }
  }
}

.footer {
  background-image: url('../img/bg-footer.png');
  color: white;
  padding-top: 30px;

  &-top {
    line-height: 1.8;

    p {
      width: 80%;
      margin: auto;
      color: #C9C9C9;
    }

    img {
      margin-bottom: 20px;
    }

    ul {
      margin: 10px 0;

      li {
        display: inline-block;

        a {
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid white;
          font-weight: 600;

          i {
            padding-right: 10px;
          }
        }

        &:last-child a {
          border: 0;
        }
      }
    }

    &-social {
      margin-top: 20px;

      a {
        font-size: 24px;
        padding: 5px 8px;
        border: 2px solid #C9C9C9;
        margin: 5px;
        transition: .5s;

        &:hover {
          color: $main_color;
          border-color: $main_color;
        }
      }
    }
  }

  &-bottom {
    border-top: 1px solid #383838;
    padding: 15px 0;
    margin-top: 30px;
  }
}







// --------------------------------------------------------------------
@media (max-width: 1440px) {}

@media (min-width: 1200px) {
  .main-menu .nav {
    transform: none !important;
  }
}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
  }

  .menu {
    position: absolute;
    background: none;
    border: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    &.menu-down {
      position: absolute;
    }

    .main-menu {
      .toggleMenu {
        display: block;
        margin: 15px 0;
        position: absolute;
        top: 88px;
        right: 272px;
        z-index: 10;
        color: #707070;
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 1px 8px;
      }

      .nav {
        display: block;
        text-align: left;
        background: rgba(0, 0, 0, .93);
        position: absolute;
        width: 300px;
        transform: translate(-300%, 0);
        margin-top: -2px;
        transition: 500ms;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        opacity: 0;
        z-index: 10000;
        padding-top: 30px;

        &.ssm-nav-visible {
          opacity: 1;
        }

        li {
          display: block;

          &:first-child {
            margin-top: 30px;
          }

          a {
            text-transform: uppercase;
          }

          i {
            padding-left: 150px;
            font-size: 24px;
            margin-top: -8px;
            position: absolute;
            right: 15px;
          }

          &:hover {
            a {
              border-bottom: 0;
            }

            .menu-bottom {
              visibility: hidden;
            }
          }

          .menu-bottom.in,
          .menu-bottom.out {
            position: fixed;
            opacity: 1;
            visibility: initial;
            transform: none;
            width: 300px;
            background: #111111;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 10;
            transition: .5s;
            overflow: scroll;

            &::before {
              content: '\f177';
              font-family: fontAwesome;
              top: -50px;
              right: 0;
              width: 100%;
              height: 40px;
              border-right: 0;
              border-top: 0;
              background: none;
              font-size: 30px;
              line-height: 50px;
              padding-left: 30px;
              color: #cccccc;
            }

            li {
              border: 0;
              padding: 10px 15px;
              width: 100%;

              &:first-child {
                margin-top: 0;
              }

              a {
                text-transform: initial;
                font-weight: 500;
              }

              &:before {
                content: none;
              }

              &:hover {
                background: none;
              }
            }
          }

          .menu-bottom.out {
            transform: translateX(-300%);
            opacity: 0;
          }

          .menu-bottom.in {
            transform: translateX(0);
            opacity: 1;
          }

          .menu-bottom {
            position: absolute;
            opacity: 1;
            visibility: hidden;
            transform: none;
            left: -300px;
            width: 100%;
            height: auto;
            padding: 0 0;
            background: none;
            margin-top: 7px;

            &.menu-bottom-down {
              visibility: inherit;
              position: relative;
              transition: 0.1s;
              left: 0;
            }

            img {
              display: none;
            }

            h4 {
              margin: 0 15px;
              margin-bottom: 5px;
              padding-bottom: 10px;
              margin-top: 20px;

              a {
                display: block;
                text-transform: capitalize;
                font-size: 14px;
                color: white;
                font-weight: 500;
              }

              i {
                position: absolute;
                top: 30px;
                right: 15px;
              }
            }


          }

          .active {
            border-bottom: 0;
          }
        }
      }
    }

    &-close {
      transform: scale(0) rotate(-180deg);
      position: absolute;
    }
  }
}

@media (min-width: 992px) {

}

@media (max-width: 992px) {
  article {
    margin-top: 65px;
  }

  .menu {
    right: 0;
    width: auto;
    position: fixed;
    height: auto;

    &.menu-down {
      position: fixed;
      width: auto;
      right: 0;
    }

    .main-menu {
      .toggleMenu {
        top: -4px;
        right: 287px;
      }
    }
  }



  .footer-top {
    p {
      width: 100%;
    }

    ul li {
      display: block;
      padding: 0;
      padding-bottom: 10px;

      a {
        border: 0;
      }
    }
  }

  
}

@media (max-width: 767px) {
  article {
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .menu .main-menu .toggleMenu {
    right: 130px;
    border: 0;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: $main_color;
    width: 100px;
    text-align: right;
  }

  .intro-home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: auto;
    margin-right: -15px;
    padding-top: 60px;

    &-box {
      height: auto;
      border-top: 1px solid #707070;

      &:hover {
        img {
          opacity: 0;
        }

        h1 {
          top: 20%;
        }
      }

      &-detail {
        top: 60%;
        width: 95%;
        
        h4 {
          font-size: 10px;
        }
  
        p {
          margin-top: 10px;
          padding: 5px;
        }
      }
    }

    &-logo {
      height: 40px;
      left: 10px;
      top: 10px;
    }

    &-member {
      top: 20px;
      right: 10px;

      a {
        padding: 10px;
      }
    }

  }

}
@media (max-width: 410px) {
  
}
