@import 'default';
$main_color: #3D35BE;

// end default css -----------------------------------------------------

.intro-home {
  background-image: url('../img/home-2.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  margin-left: -15px;
  width: 103%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &.intro0 {
    background-image: url('../img/home-1.jpeg');
  }
  &.intro1 {
    background-image: url('../img/home-2.jpeg');
  }
  &.intro2 {
    background-image: url('../img/home-3.jpeg');
  }
  &.intro3 {
    background-image: url('../img/home-4.jpeg');
  }

  &-box {
    position: relative;
    background: rgba(0, 0, 0, .1);
    border-right: 1px solid #cccccc;
    transition: .5s;
    cursor: pointer;
    overflow: hidden;
    height: 100vh;

    &:hover {
      background:  rgba(0, 0, 0, .5);

      .intro-home-box-detail {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }

    img, h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: .5s;
    }

    h1 {
      width: 90%;
      text-align: center;
    }

    img {
      padding: 30px;
    }

    &-detail {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, 150%);
      text-align: center;
      width: 80%;
      transition: .5s;
      opacity: 0;

      p {
        border: 2px solid white;
        padding: 10px 10px;
        width: 160px;
        margin: auto;
        margin-top: 30px;
        text-transform: uppercase;
        transition: .5s;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $main-color;
          z-index: -1;
          transition: transform .5s;
          transform-origin: right;
          transform: scaleX(0);
        }

        &:hover::after {
          transition: transform .5s;
          transform-origin: left;
          transform: scale(1);
        }

        &:hover {
          color: white;
        }
      }
    }
  }

  &-member {
    position: absolute;
    top: 15px;
    right: 0;

    a {
      padding: 15px 30px;
      background: #707070;
      color: white;
      text-transform: uppercase;
      transition: .5s;

      &:hover {
        background: $main_color;
      }
    }
  }

  &-logo {
    position: absolute;
    top: 15px;
    left: 15px;
  }
}

.menu {
  position: fixed;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 70px;
  width: 100%;
  right: 15px;

  .logo {
    height: 50px;
    margin: 10px 0;
  }

  .main-menu {
    display: flex;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: white!important;
      margin: 10px 0;
      z-index: 10000;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;

      li {
        transition: .5s;
        display: inline-block;

        i {
          color: white;
          padding-left: 5px;
          font-size: 20px;
          transition: .5s;
        }

        .active {
          background: $main_color;
        }

        a {
          font-size: 16px;
          text-transform: uppercase;
          transition: .5s;
          color: white;
          padding: 25px 15px;
          line-height: 70px;

          &:hover {
            background: $main_color;

          }
        }
      }
    }
  }

  .login-btn, .login-complete-btn {
    font-size: 16px;
    cursor: pointer;
    color: white;
    text-align: right;
    line-height: 70px;
    transition: .5s;

    &:hover {
      color: #666;
    }

    i {
      padding-right: 5px;
    }

    img {
      border-radius: 50%;
      width: 30px;
      margin-right: 10px;
    }
  }
}

.bread-crumb {
  padding: 10px 0;
  color: black;
  margin-bottom: 30px;

  .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;


    .breadcrumb-item {
      &:first-child::before {
        content: none;
      }

      &:before {
        content: '\f219';
        font-family: fontAwesome;
        padding-left: 10px;
        padding-right: 15px;
      }

      &:hover {
        color: $main_color;
      }
    }

    .breadcrumb-item.active {
      color: $main_color;
    }
  }
}

.footer {
  background: #252525;
  color: white;
  padding: 20px 0;

  ul {
    li {
      display: inline-block;
      padding: 0 10px;

      a {
        transition: .5s;
        color: #858585;

        &:hover {
          color: white;
        }
      }
    }
  }
}


.login {
  position: relative;

  .box-login {
    width: 500px;
    position: absolute;
    right: 0;
    background: white;
    border-radius: 5px;
    margin-top: 40px;
    padding: 0 30px;
    visibility: hidden;
    top: 20px;
    transition: .5s;
    opacity: 0;
    z-index: 1000;

    &.box-login-show {
      visibility: initial;
      top: 0;
      transition: 0;
      opacity: 1;
    }
  
    .nav-tabs {
      height: 60px;
      margin: -30px -10px 0 -10px;
      background: $main_color; 
      border-radius: 5px;
      padding: 10px;
      transform: none!important;
  
      li {
        width: 50%;
        text-align: center;
        height: 40px;
        border-radius: 5px;
        color: white;
  
        &:hover {
          a {
            background: #1f1984;
          }
        }
  
        a {
          border-radius: 5px;
          border: 0;
        }
  
        .active {
          border-radius: 5px;
          background: #1f1984;
          color: white;
          border: 0;
        }
      }
    }
  
    .login-footer {

      span {
        margin-right: 5px;
        color: #858585;
      }
  
      a {
        &:hover {
          color: black;
        }

        color: $main_color;
      }
      
      .login-close {
        background: #e1e1e1;
        border-radius: 5px;
        margin-top: -10px;
        padding: 10px 20px;
        margin-bottom: 15px;
  
        &:hover {
          background: $main_color;
        }
      }
    }
  }
}

.login-complete {
  position: relative;
  visibility: hidden;
  top: 10px;
  transition: .5s;
  opacity: 0;
  z-index: 1000;

  &.box-login-show {
    visibility: initial;
    top: 0;
    transition: 0;
    opacity: 1;
  }
  
  ul {
    position: absolute;
    top: -3px;
    right: 0;
    background: #252525;
    color: white;
    width: 250px;

    li {
      padding: 10px 15px;
      border-top: 1px solid #383838;  
      text-transform: uppercase;
      transition: .5s;

      &:hover {
        background: $main_color;
      }

      a {
        padding: 10px 15px;
        font-size: 12px;
      }

      i {
        padding-right: 10px;
      }
    }
  }
}

.error.text-danger {
  right: 0!important;
  top: 30px!important;
  transform: none!important;
  font-size: 12px!important;
}

.title-page {
  margin-bottom: 40px;

  h1 a {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid $main_color;
    cursor: default;
  }
}

.title-small {
  margin-bottom: 30px;

  h3 {
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid $main_color;
  }
}

.page-content {
  margin-bottom: 40px;
  position: relative;

  .news-main {
    margin-bottom: 10px;
  }

  .news-right {
    .news-search, .news-hot {
      background: white;
      padding: 30px 20px;
      box-shadow: 0px 2px 1px #e1e1e1;
      margin-bottom: 30px;
    }

    .news-search {
      &-form {
        position: relative;

        input {
          background: #f4f4f4;
          border: 1px solid #e1e1e1;
          padding-left: 30px;
          height: 50px;
          border-radius: 5px;

          &:focus {
            box-shadow: 0 0 0 2px rgba($main_color, .25)
          }
        }

        i {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          font-size: 20px;
          color: #858585;
          transition: .5s;

          &:hover {
            color: $main_color;
          }
        }
      }
    }

    .news-hot {
      padding-bottom: 10px;

      .box-news {
        padding: 0;
        background: none;
        box-shadow: none;

        &-img {
          margin-right: -20px;
        }

        &-detail {
          h5 {
            margin-bottom: 10px;

            a {
              font-weight: 600;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              transition: .5s;

              &:hover {
                color: $main_color;
              }
            }
          }
        }
      }
    }
  }

  .page-tour {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 260px calc(100% - 290px);
    grid-column-gap: 30px;
  }

  .tour-left-large {
    position: relative;
    width: 260px;
  }

  .tour-left {
    background: white;
    padding: 30px 20px;
    box-shadow: 0px 2px 1px #e1e1e1;
    margin-bottom: 30px;
    width: inherit;  
    z-index: 10;
    transition: .5s;
    transform: translateY(0);

    &.tour-left-down {
      position: fixed;
      top: 0;
      transform: translateY(100px);
    }

    .tour-search {

      form {
        position: relative;
      }

      input {
        background: #f4f4f4;
        border: 1px solid #e1e1e1;
        padding-left: 30px;
        height: 50px;
        border-radius: 5px;

        &:focus {
          box-shadow: 0 0 0 2px rgba($main_color, .25)
        }
      }

      i {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 20px;
        color: #858585;
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }

      .nav-tabs {
        border-bottom: 0;
        margin-top: 20px;
  
        li {
          display: block;
          border: 0;
          background: #252525;
          width: 100%;
          text-align: center;
          color: white;
          margin-bottom: 20px;
          border-radius: 5px;
  
          a {
            text-transform: uppercase;
            padding: 10px 0;
            border-radius: 5px;
            border: 0;
  
            &:hover {
              background: $main_color;
              border: 0;
            }
          }
  
          .active {
            border: 0;
            background: $main_color;
            color: white;
          }
        }
      }
    }
  }

  .tour-main {
    h2 {
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .news-detail {
    background: white;
    padding: 30px;
    box-shadow: 0px 2px 1px #e1e1e1;
    margin-bottom: 30px;

    h2 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    h5 {
      margin-bottom: 15px;

      i {
        color: $main_color;
        margin-right: 5px;
        font-size: 16px;
      }

      .user-post {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #e1e1e1;
      }
    }

    h4 {
      margin-bottom: 20px;
      font-weight: 600;
    }

    img {
      margin-bottom: 20px;
    }
  }
}

.box-news {
  margin-bottom: 20px;
  padding: 30px;
  background: white;
  box-shadow: 0px 2px 1px #e1e1e1;

  &-img {
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      transition: .5s;
    }
  }

  &-detail {
    h4 {
      margin-bottom: 10px;
      a {
        font-weight: 600;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h6 {
      margin-bottom: 15px;
      i {
        color: $main_color;
        margin-right: 5px;
        font-size: 16px;
      }

      .user-post {
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #e1e1e1;
      }
    }

    h5 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.box-tour {
  background: white;
  padding: 20px;
  padding-right: 0;
  box-shadow: 0px 2px 1px #e1e1e1;
  margin-bottom: 20px;

  &-author {
    text-align: center;
    margin-right: -10px;

    img {
      border-radius: 50%;
    }

    h6 {
      margin-top: 10px;
      padding-top: 5px;
      border-top: 1px solid #e1e1e1;
    }
  }

  &-content {
    h4 {
      margin-bottom: 10px;

      a {
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      color: #8D8D8D;
    }
  }

  &-info {
    border-left: 1px solid #e1e1e1;
    margin: -20px 0;
    padding: 10px 0;
    color: #666;
    margin-left: -10px;

    i {
      padding-right: 5px;
    }

    &-comment {
      margin-bottom: 10px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e1e1e1;

      h5 {
        padding: 12px 0;
        margin: auto;
        width: 80px;
        border-radius: 5px;
        background: #e1e1e1;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 20px;
          width: 0;
          height: 0;
          border-right: 10px solid transparent;
          border-top: 10px solid #e1e1e1;
        }
      }
    }

    &-view {
      padding-bottom: 7px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e1e1e1;
    }
  }
}

.score-board {

  td img {
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }

  table.table-bordered.dataTable tbody tr {
    background: white;
    font-size: 1rem;
    transition: 0;

    td {
      font-weight: 500;

      a {
        transition: none;
      }

      a:hover {
        color: $main_color;
        transition: 0;
      }
    }

    &:hover {
      background: #f4f4f4;
    }
  }

  table.table thead th {
    border-top: none;
    background: #e1e1e1;
    border-right: 1px solid #ccc;
    font-weight: 600;
    text-transform: uppercase;
  }

  .pagination .page-item .page-link {
    background: #e1e1e1;
    border: 1px solid #ccc;

    &:hover {
      background: $main_color;
      color: white;
      border-color: $main_color;
    }
  }

  .pagination .page-item.active .page-link {
    background: $main_color;
    box-shadow: none;
    border-color: $main_color;
  }

  .page-link:focus {
    box-shadow: none;
  }

  div.dataTables_wrapper div.dataTables_filter input {
    background: #e1e1e1;
  }
}

.page-text {
  .title-page-text {
    h2 {
      font-weight: 600;
      margin-bottom: 30px;
    }
  }

  .box-post {
    background: white;
    padding: 0 30px;
    box-shadow: 0px 2px 1px #e1e1e1;
    width: 100%;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 60px calc(100% - 60px);
    grid-column-gap: 20px;

    &-author {
      padding: 30px 0;

      img {
        border-radius: 50%;
        display: block;
      }

      h5 {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #e1e1e1;
        color: $main_color;
        font-weight: 600;
      }
    }

    &-detail {
      border-left: 1px solid #e1e1e1;
      margin-right: -10px;

      &-date {
        padding: 10px 30px;
        border-bottom: 1px solid #e1e1e1;
      }

      &-content {
        padding: 30px;

        p {
          color: #797979;
        }
      }

      &-tags {
        padding: 10px 30px;
        border-top: 1px solid #e1e1e1;

        span {
          color: $main_color;
          
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .comment-first {
    background: white;
    padding: 0 30px;
    box-shadow: 0px 2px 1px #e1e1e1;
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 60px calc(100% - 80px);
    grid-column-gap: 20px;

    &-img {

      img {
        border-radius: 50%;
        padding: 10px 0;
        text-align: center;
      }
    }

    &-box {
      border-left: 1px solid #e1e1e1;
      padding: 15px 30px;
      padding-right: 0;

      input {
        height: 40px;
        border-radius: 40px;
        background: #f4f4f4;
        border: 1px solid #e1e1e1;
        padding-left: 20px;

        &:focus {
          box-shadow: 0 0 0 0.2rem rgba($main_color, .25);
        }
      }
    }
  }

  .box-comment {
    background: white;
    padding: 0 10px;
    box-shadow: 0px 2px 1px #e1e1e1;
    margin-bottom: 30px;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    grid-column-gap: 10px;
    width: 100%;


    &-author {
      padding: 20px 0;

      a {
        display: block;
      }

      img {
        border-radius: 50%;
        transition: .5s;

        &:hover {
          filter: brightness(80%);
        }
      }

      h5 {
        padding-top: 10px;
        margin-top: 10px;
        border-top: 1px solid #e1e1e1;
        font-weight: 600;
        margin-bottom: 5px;

        a {
          color: $main_color;          
          transition: .5s;

          &:hover {
            color: black;
          }
        }
      }

      p {
        margin-bottom: 5px;
      }
    }

    &-detail {
      border-left: 1px solid #e1e1e1;

      &-date {
        padding: 10px 30px;
        border-bottom: 1px solid #e1e1e1;

        h5, button {
          display: inline-block
        }        
        button {
          padding: 5px 10px;
          border-radius: 3px;
        }
      }

      &-content {
        padding: 30px;

        p {
          color: #797979;
        }

        .comment-reply {
          margin-top: 20px;
  
          button {
            padding: 10px 30px;
            border-radius: 30px;
          }

          .comment-reply-form {
            margin-top: 10px;
            display: none;

            img {
              width: 30px;
              height: 30px;
              border-radius: 30px;
              margin-right: 10px;
            }

            input {
              height: 30px;
              border-radius: 30px;
              background: #f4f4f4;
              border: 1px solid #e1e1e1;
              padding-left: 20px;
      
              &:focus {
                box-shadow: 0 0 0 0.2rem rgba($main_color, .25);
              }
            }
          }
        }
      }
    }
  }

  .sub-comment {

    .box-sub-comment {
      background: #f4f4f4;
      box-shadow: 0px 2px 1px #e1e1e1;
      padding: 0 10px;
      margin-top: 15px;
      display: grid;
      grid-template-columns: 100px calc(100% - 200px) 100px;
      grid-column-gap: 10px;
      width: 100%;

      &-img {
        display: flex;
        margin-top: 10px;

        img {
          width: 25px;
          height: 25px;
          border-radius: 25px;
          margin-right: 5px;
        }

        h5 a {
          font-weight: 600;
          color: $main_color;
          
          &:hover {
            color: black;
          }
        }
      }

      &-content {
        border-left: 1px solid #e1e1e1;
        padding: 10px;
        padding-left: 20px;
        height: 100%;
        
        p {
          margin: 0;
        }

        button {
          background: #cccccc;
          padding: 2px 5px;
          margin-top: 5px;
          border: 0;
          box-shadow: 0;
          cursor: pointer;
          border-radius: 3px;
          font-size: inherit;
          transition: .2s;

          &:hover {
            background: $main_color;
            color: white;
          }
        }
      }

      &-date {
        padding: 10px 0;
        border-left: 1px solid #e1e1e1;
        height: 100%;

        h5 {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.member-page {
  .box-member-title {
    margin-bottom: 20px;

    h3 {
      font-weight: bold;
    }
  }

  .box-member {
    margin-bottom: 40px;
    padding: 30px;
    padding-bottom: 0;
    background: white;
    box-shadow: 0px 2px 1px #e1e1e1;

    &.chart {
      padding-bottom: 20px;

      .box-member-detail {
        margin: 0;

        ul {
          padding: 0;
          border: 0;
          margin: 0;
        }
      }
    }

    .title-member {
      padding-bottom: 10px;
      border-bottom: 1px solid #e1e1e1;
    }

    &-img {
      margin-bottom: 20px;

      img {
        margin-bottom: 20px;
      }

      h5 {
        margin-bottom: 10px;
        font-weight: 600;

        i {
          color: #7D7D7D;
          padding-right: 10px;
          font-size: 20px;
        }
      }
    }

    &-detail {
      margin-bottom: 30px;

      h3 {
        font-weight: 600;
      }

      p {
        color: #7D7D7D;
      }

      ul {
        padding-top: 15px;
        margin-top: 15px;
        margin-bottom: 30px;
        border-top: 1px solid #e1e1e1;

        li {
          font-weight: 600;

          label {
            width: 150px;
            color: #7D7D7D;
            font-weight: 400;
          }
        }
      }

      h5 {
        margin-bottom: 10px;
      }
      
    }
  }

  .box-member-tabs {
    .nav-tabs {
      border-bottom: 0;
      margin-bottom: 20px;

      li {
        a {
          border-radius: 0;
          padding: 10px 20px;
          border: 0;
          background: white;
          margin-right: 1px;

          &:hover {
            color: white;
            background: $main_color;
          }
        }

        .active {
          background: $main_color;
          color: white;
        }
      }
    }
  }

  .box-member-tabs-content {
    margin-bottom: 30px;

    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_filter {
      display: none;
    }
  
    table.table-bordered.dataTable tbody tr {
      background: white;
      font-size: 1rem;
      transition: 0;
  
      td {
        font-weight: 500;
  
        a {
          transition: none;
        }
  
        a:hover {
          color: $main_color;
          transition: 0;
        }

        button {
          background: 0;
          border: 0;
          width: 150px;

          .watch-branch-btn {
            background: $main_color;
            color: white;
            padding: 5px 10px;
            border-radius: 3px;

            &:hover {
              background: black;
              color: white;
              transition: .5s;
            }
          }
        }
      }
  
      &:hover {
        background: #f4f4f4;
      }
    }
  
    table.table thead th {
      border-top: none;
      background: #e1e1e1;
      border-right: 1px solid #ccc;
      font-weight: 600;
      text-transform: uppercase;
    }

    .pagination .page-item .page-link {
      background: #e1e1e1;
      border: 1px solid #ccc;
  
      &:hover {
        background: $main_color;
        color: white;
        border-color: $main_color;
      }
    }
  
    .pagination .page-item.active .page-link {
      background: $main_color;
      box-shadow: none;
      border-color: $main_color;
    }
  
    .page-link:focus {
      box-shadow: none;
    }
  }
}

div.jQBracket .bracket {
  float: none;
}

.watch-section {
  margin: 0 auto;
  padding: 15px;

  .watch-branch-title {
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  .watch-branch-round {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 40px;
    width: 1140px!important;
    position: relative;
    margin: 30px auto;
  
    .box-watch-branch {
      height: 50px;
      width: 100%;
      background: $main_color;
      color: white;
      text-align: center;
  
      h4 {
        line-height: 50px;
      }
    }
  }

  .watch-branch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 40px;
    width: 1140px!important;
    position: relative;
    margin: auto;
  
  
    .box-watch-branch {
      width: 100%;
      height: 40px;
      border: 1px solid #ccc;
      margin: auto;
      padding: 3px 5px;
      position: relative;

      h6 {
        height: 17px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        width: 90%;
      }

      h5 {
        position: absolute;
        right: 5px;
        top: 3px;
        font-size: 12px;
        font-weight: bold;

        span {
          display: block;
        }
      }

      &:nth-child(2n+1)::before {
        content: "";
        width: 10px;
        border: 1px solid #e1e1e1;
        border-left: 0;
        position: absolute;
        right: -12px;
      }

      &:nth-child(2n+1)::after {
        content: "";
        width: 10px;
        height: 1px;
        position: absolute;
        right: -21px;
        background: #e1e1e1;
      }
    }
  
    .watch-branch-16 {
      display: grid;
      grid-template-rows: repeat(16, 1fr);
      grid-row-gap: 10px;

      .box-watch-branch {
        &:nth-child(2n+1)::before {
          height: 50px;
          top: 18px;
        }

        &:nth-child(2n+1)::after {
          top: 43px;
        }
      }
    }
  
    .watch-branch-8 {
      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-row-gap: 10px;

      .box-watch-branch {
        &:nth-child(2n+1)::before {
          height: 100px;
          top: 18px;
        }

        &:nth-child(2n+1)::after {
          top: 68px;
        }
      }
    }
  
    .watch-branch-4 {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 10px;

      .box-watch-branch {
        &:nth-child(2n+1)::before {
          height: 200px;
          top: 18px;
        }

        &:nth-child(2n+1)::after {
          top: 120px;
        }
      }
    }
  
    .watch-branch-2 {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 10px;

      .box-watch-branch {
        &:nth-child(2n+1)::before {
          height: 400px;
          top: 18px;
        }

        &:nth-child(2n+1)::after {
          top: 220px;
        }
      }
    }
  
    .watch-branch-1 {
      display: grid;
      grid-template-rows: 1fr;
      grid-row-gap: 10px;

      .box-watch-branch {
        &:nth-child(2n+1)::before {
          content: none
        }

        &:nth-child(2n+1)::after {
          content: none
        }
      }
    }
  }
}





// --------------------------------------------------------------------
@import 'media';
