extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Bảng điểm
    
    section.page-content.score-board
      .container
        .title-page.text-center
          h1 
            a Bảng điểm
        .grid-box
          .left
            .box-left
              .title-left
                h5 bảng điểm
              ul
                li
                  a(href='bang-diem.html') 
                    i.mdi.mdi-tennis
                    | Tất cả 
                li
                  a.score-btn-male(href='bang-diem-nam.html') 
                    i.mdi.mdi-tennis
                    | Nam 
                li
                  a.score-btn-female(href='bang-diem-nu.html') 
                    i.mdi.mdi-tennis
                    | Nữ

            .box-left
              .title-left
                h5 giải đấu sắp diễn ra
              ul
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                
            .box-left
              .title-left
                h5 giải đấu đang diễn ra
              ul
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
           


          .score-board-main
            .score-board-tabs
              ul.nav.nav-tabs(role='tablist')
                li.nav-item
                  a#scoreAll-tab.nav-link( href='bang-diem.html', aria-selected='true') 
                    | Tất cả
                li.nav-item
                  a#scoreMale-tab.nav-link( href='bang-diem-nam.html', aria-selected='false') 
                    | Nam
                li.nav-item
                  a#scoreFemale-tab.nav-link( href='bang-diem-nu.html', aria-selected='false') 
                    | Nữ 

            table.range-score(border='0', cellspacing='5', cellpadding='5')
              tbody
                tr
                  td
                    h5 Tìm kiếm điểm theo phạm vi:
                  td
                    input#min-score(type='text', name='min-score', placeholder='Điểm từ')
                  td
                    input#max-score(type='text', name='max-score', placeholder='Đến điểm')

            .table-responsive
              table.table.table-bordered.table-striped.display.score-board-all(style='width: 100%')
                thead
                  tr
                    th(scope='col') Hạng
                    th(scope='col') Tên thành viên
                    th(scope='col') Tổng điểm
                    th(scope='col') Số giải đấu
                    th.gender-score


block script
  script(src='../js/data.js')

