extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='index.html') Giải dấu
              li.breadcrumb-item.active 10 Kids Unaware of Their Halloween Cosfume
    
    section.page-text
      .container
        .title-page-text
          h2 10 Kids Unaware of Their Halloween Cosfume
        
        .box-post
          .box-post-author.text-center
            img(src='../img/avatar.jpeg')
            h5 Admin

          .box-post-detail
            .box-post-detail-date
              h5 15/01/2019 - 17:30
            .box-post-detail-content
              h3.mb-3.text-center 
                b 10 Kids Unaware of Their Halloween Costsdfume
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
              p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
            .box-post-detail-tags
              h5 Tags: 
                span 
                  a(href='#') Giải đấu vui vẻ,
                span 
                  a(href='#') Giải đấu khô máu

        .comment-first
          .comment-first-img
            img(src='../img/avatar.jpeg')
          .comment-first-box
            input.form-control(type="text", placeholder="Viết bình luận. . .")    
        .comment-area
