extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='index.html') Giải dấu
              li.breadcrumb-item.active 10 Kids Unaware of Their Halloween Cosfume
    
    section.page-text
      .container
        .title-page-text
          h2 10 Kids Unaware of Their Halloween Cosfume
        
        .box-post
          .row
            .col-2
              .box-post-author.text-center
                img(src='../img/avatar.jpeg')
                h5 Admin

            .col-10
              .box-post-detail
                .box-post-detail-date
                  h5 15/01/2019 - 17:30
                .box-post-detail-content
                  h3.mb-3.text-center 
                    b 10 Kids Unaware of Their Halloween Costsdfume
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
                .box-post-detail-tags
                  h5 Tags: 
                    span 
                      a(href='#') Giải đấu vui vẻ,
                    span 
                      a(href='#') Giải đấu khô máu

        .comment-first
          .row
            .col-1
              .comment-first-img
                img(src='../img/avatar.jpeg')
            .col-11
              .comment-first-box
                input.form-control(type="text", placeholder="Viết bình luận. . .")    
        .comment-area
        //- .box-comment
        //-   .row
        //-     .col-2
        //-       .box-comment-author.text-center
        //-         a(title='Nhấp để xem hồ sơ', href='chi-tiet-thanh-vien.html')
        //-           img(src='../img/avatar.jpeg')
        //-         h5 
        //-           a(title='Nhấp để xem hồ sơ', href='chi-tiet-thanh-vien.html') Kemmie
        //-         p Điểm: 500
        //-         p Hạng: 10
        //-     .col-10
        //-       .box-comment-detail
        //-         .box-comment-detail-date
        //-           h5 15/01/2019 - 17:30
        //-           button.btn.btn-light.waves-effect.waves-light.delete-comment.text-right
        //-             | Xóa bình luận

        //-         .box-comment-detail-content
        //-           p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
        //-           p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?
        //-           p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magnam repudiandae, natus velit ab nulla magni cumque quidem maiores sapiente sequi fugit. Nulla cupiditate impedit, dolorum placeat nisi ipsa enim?

        //-           .sub-comment
              
        //-           .comment-reply
        //-             button.btn.btn-indigo.waves-effect.waves-light
        //-               | Trả lời

        //-             .comment-reply-form
        //-               img(src='../img/avatar.jpeg')
        //-               input.form-control(type="text", placeholder="Viết phản hồi. . .")    
        //-END BOX COMMENT
