extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Giải dấu
    
    section.page-content
      .container
        .title-page.text-center
          h1 
            a giải đấu
        .grid-box
          .left
            .box-left
              .title-left
                h5 bảng điểm
              ul
                li
                  a(href='bang-diem.html') 
                    i.mdi.mdi-tennis
                    | Tất cả 
                li
                  a.score-btn-male(href='bang-diem-nam.html') 
                    i.mdi.mdi-tennis
                    | Nam 
                li
                  a.score-btn-female(href='bang-diem-nu.html') 
                    i.mdi.mdi-tennis
                    | Nữ

            .box-left
              .title-left
                h5 giải đấu mới
              ul
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                
            .box-left
              .title-left
                h5 giải đấu đang diễn ra
              ul
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
                li
                  a(title='Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.', href='chi-tiet-giai-dau.html') 
                    i.mdi.mdi-tennis
                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi.
           

          .tour-main.main
            h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, voluptatem.

            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
            .box-tour
              .row
                .col-md-8.col-12
                  .box-tour-content
                    h4 
                      a(href='chi-tiet-giai-dau.html')
                        | 10 Kids Unaware of Their Halloween Costume
                    h5  It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative. It's one thing to subject yourself to a Halloween costume mishap because, hey, that's your prerogative.

                .col-md-1.col-3.order-md-first.order-0
                  .box-tour-author
                    img(src='../img/avatar.jpeg')
                    h6 Admin

                .col-md-3.col-9
                  .box-tour-info.text-center
                    .box-tour-info-comment
                      h5 100

                    .box-tour-info-view
                      i.mdi.mdi-eye
                      | 101

                    .box-tour-info-date
                      i.mdi.mdi-calendar-clock
                      | 14/01/2019 - 17:30
            //- END BOX TOUR
