<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title ACE SPORT
    block style
      link(rel='stylesheet', href='../css/bootstrap-grid.min.css')
      link(rel='stylesheet', href='../css/bootstrap-reboot.min.css')
      link(rel='stylesheet', href='../css/bootstrap.min.css')
      link(rel='stylesheet', href='../css/mdb.min.css')
      link(rel='stylesheet', href='../css/font-awesome.min.css')
      link(rel='stylesheet', href='../css/materialdesignicons.min.css')
      link(rel='stylesheet', href='../css/sweetalert2.min.css')
      link(rel="stylesheet", href='../css/dataTables.bootstrap4.min.css')
      link(rel="stylesheet", href='../css/jquery.fancybox.min.css')
      link(rel='stylesheet', href='../css/layout.css')
      link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top.wow.zoomInRight(title='Lên đầu trang', data-wow-duration='2s')
      span
      span


    block header
      header
        section.menu.wow.animated
          .container
            .row
              .col-lg-2.col-4
                .logo
                  a(href='index.html')
                    img(src='../img/logo.png')

              .col-lg-8.col-12.order-last.order-lg-0
                .main-menu
                  a.toggleMenu.ssm-toggle-nav
                    i.mdi.mdi-menu
                  ul.nav
                    .nav-close
                      i.mdi.mdi-close.d-block.d-sm-none
                    li.nav-item
                      a(href='index.html') Trang chủ
                    li.nav-item
                      a(href='tin-tuc.html') tin tức
                    li.nav-item
                      a(href='giai-dau.html') giải đấu
                    li.nav-item
                      a(href='bang-diem.html') bảng điểm

              .col-lg-2.col-8
                .text-right
                  
                  //- Khi đã login thành công --------------
                  .login-complete-btn
                    span 
                      img.img-circle.d-inline.block(src='../img/avatar.jpeg')
                      | Thái
                      i.mdi.mdi-chevron-down

                  //- Khi chưa login  --------------
                  .login-btn
                    i.mdi.mdi-account-circle
                    span Tài khoản 
                    i.mdi.mdi-chevron-down


            .login
              .box-login
                ul.nav.nav-tabs(role='tablist')
                  li.nav-item
                    a#signin-tab.nav-link.active(data-toggle='tab', href='#signin', role='tab', aria-controls='signin', aria-selected='true') 
                      | Đăng nhập
                  li.nav-item
                    a#signup-tab.nav-link(data-toggle='tab', href='#signup', role='tab', aria-controls='signup', aria-selected='false') 
                      | Đăng ký

                .tab-content
                  #signin.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='signin-tab') 
                    form#signin-form
                      .md-form.mt-5
                        i.mdi.mdi-email.prefix.grey-text
                        input#nick-signin.form-control.validate(type='text')
                        label(for='nick-signin') Email hoặc tên đăng nhập
                      .md-form.mt-5
                        i.mdi.mdi-lock.prefix.grey-text
                        input#password-signin.form-control.validate(type='text')
                        label(for='password-signin') Mật khẩu

                      .login-submit.text-center.mb-4.pb-5.border-bottom.border-light
                        button.btn.btn-indigo
                          | Đăng nhập

                      .login-footer
                        .row
                          .col-sm-9
                            h5.mb-2
                              span Bạn không phải là thành viên ?
                              a.link-signup Đăng ký ngay 
                            h5.mb-3
                              a Quên mật khẩu?
                          .col-sm-3.text-right
                            button.mt-2(type="button").login-close.btn.btn-light.text-right
                              | Đóng
                    


                  #signup.tab-pane.fade(role='tabpanel', aria-labelledby='signup-tab') 
                    form#signup-form(novalidate)
                      .md-form.mt-5
                        i.mdi.mdi-account-box.prefix.grey-text
                        input#name_signup.form-control.validation(type='text', name='name_signup')
                        label(for='nick_signup') Họ tên của bạn

                      .md-form.mt-5
                        i.mdi.mdi-email.prefix.grey-text
                        input#email_signup.form-control.validation(type='email', name='email_signup')
                        label(for='email_signup') 
                          | Email

                      .md-form.mt-5
                        i.mdi.mdi-account-key.prefix.grey-text
                        input#nick_signup.form-control.validation(type='text', name='nick_signup')
                        label(for='nick_signup') 
                          | Tên đăng nhập

                      .md-form.mt-5
                        i.mdi.mdi-lock.prefix.grey-text
                        input#password_signup.form-control.validation(type='password', name='password_signup')
                        label(for='password_signup') 
                          | Mật khẩu

                      .md-form.mt-5
                        i.mdi.mdi-lock-plus.prefix.grey-text
                        input#passwordEq_signup.form-control.validation(type='password', name='passwordEq_signup')
                        label(for='passwordEq_signup') 
                          | Nhập lại mật khẩu


                      .login-submit.text-center.mb-4.pb-5.border-bottom.border-light
                        button(type='submit').btn.btn-indigo
                          | Đăng ký

                      .login-footer
                        .row
                          .col-sm-9
                            h5
                              span Bạn đã là thành viên? 
                              a.link-signin Đăng nhập ngay
                              
                          .col-sm-3.text-right
                            button.mt-2(type="button").login-close.btn.btn-light.text-right
                              | Đóng

            .login-complete
              ul
                li
                  a(href='ca-nhan.html')
                    i.mdi.mdi-account-edit
                    | thông tin cá nhân

                li
                  a(href='thong-ke-giai-dau.html')
                    i.mdi.mdi-chart-areaspline
                    | thống kê giải đấu

                li
                  a(href='dang-xuat.html')
                    i.mdi.mdi-logout
                    | đăng xuất

                

        .ssm-overlay.ssm-toggle-nav
        .overlay

    block article

    block footer
      footer
        section.footer
          .container
            .row
              .col-lg-6.text-center.text-lg-left.mb-lg-0.mb-md-2.mb-sm-2.mb-0
                h5 Copyright @ 2018 ACESPORT. All Reserved. Designed by Tri Viet

              .col-lg-6.text-center.text-lg-right.d-none.d-sm-block
                ul
                  li
                    a(href='index.html') Trang chủ
                  li
                    a(href='tin-tuc.html') Tin tức
                  li
                    a(href='giai-dau.html') Giải đấu
                  li
                    a(href='bang-diem.html') Bảng điểm
                  

    script(src='../js/jquery-3.3.1.min.js')
    block script 
    script(src='../js/jquery.touchSwipe.min.js')
    script(src='../js/jquery.slideandswipe.min.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/bootstrap.bundle.min.js')
    script(src='../js/mdb.min.js')
    script(src='../js/sweetalert2.min.js')
    script(src='../js/jquery.validate.min.js')
    script(src='../js/jquery.dataTables.min.js')
    script(src='../js/dataTables.bootstrap4.min.js')
    script(src='../js/jquery.fancybox.min.js')

    script(src='../js/layout.js')
