extends inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Thành viên
    
    section.page-content.score-board
      .container
        .title-page.text-center
          h1 
            a Thành viên

        .table-responsive
          table.table.table-bordered.table-hover.display#member(style='width: 100%')
            thead
              tr
                th(scope='col') Tên thành viên
                th(scope='col') Giới tính
                th(scope='col') Năm sinh
                th(scope='col') Xếp hạng
                th(scope='col') Ngày đăng ký
                th(scope='col') Số giải đấu
            
block script
  script(src='../js/data.js')

    